<%- include("header") %>
<div class="container">
    <div class="row">
        <div class="col-12">
            Unfortunately we couldn't find any direct or TriSwaps. :(
            <br/>
            <a href="/profile/<%= sessionID %>" class="btn btn-sm btn-danger">Profile</a>
        </div>
    </div>
</div>

<%- include("footer") %>